{{extend 'layout.html'}}

<!-- 
{{try:}}{{=H2(message)}}{{except:}}{{=BEAUTIFY(response._vars)}}{{pass}}
-->

<h2>How to get started using the Public Radio Roadtrip app</h2>
<div>
<ol>
    <li> <a href="/publicradioroadtrip/default/user/login">login</a> or <a href="/publicradioroadtrip/default/user/register">register</a></li>
    <li> <a href="/publicradioroadtrip/default/add_roadtrip">Create a roadtrip</a> that you can add stories to.</li>
    <li>add the bookmarklet to your browser.  To do this, just drag this "
<a title="Use this bookmarklet to automatically get the ID of a story at npr.org." href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://publicradioroadtrip.googlecode.com/hg/static/sendvariables.js';})();">Add to Roadtrip!</a>" link into your browser's bookmarks bar. (In Internet Explorer, right-click on the link and choose "Add to favorites.") </li>
    <li>Go to <a href="http://www.npr.org/">Npr.org</a>, find a story you would like to add to a roadtrip (be sure to go to the full, story page as opposed to just the headline).</li>
    <li>Then click the "Add to Roadtrip!" link in your browser's bookmarks bar.</li>
    <li>Place your story on the map using the form (be sure to highlight the roadtrip you created in step 2)</li>
    <li><a href="/publicradioroadtrip/default/list_roadtrips">View your roadtrip</a></li>
    <li>If you want, you can also publish your roadtrip for <a href="/publicradioroadtrip/default/published_roadtrips">others to see</a>.  To do this, <a href="/publicradioroadtrip/default/list_roadtrips">go back</a> to the roadtrip you created in step 2.  And check the box that says, "publish" roadtrip, then click save.</li>
</ol>
</div>
