{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<table id="list_roadtrips">
<th>Roadtrip</th>
<th>Name</th>
<th>Description</th>
{{for roadtrip in roadtrips:}}
<tr>
    <td><a href="{{=URL(r=request,f='view_roadtrip',args=roadtrip.id)}}">{{=roadtrip.title}}</a></td>
    <td>{{=roadtrip.description}}</td>
    <td><a href="{{=URL(r=request,f='edit_roadtrip',args=roadtrip.id)}}">Edit roadtrip</a>

    </td>
</tr>
{{pass}}
</table>
<!--
{{=BEAUTIFY(response._vars)}}
-->

