{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

{{=test}}

<table id="list_collections">
<th>Collection</th>
<th>Name</th>
<th>Description</th>
{{for collection in collections:}}
<tr>
    <td><a href="{{=URL(r=request,f='view_collection',args=collection.id)}}">{{=collection.title}}</a></td>
    <td>{{=collection.description}}</td>
    <td><a href="{{=URL(r=request,f='edit_collection',args=collection.id)}}">Edit collection</a>

    </td>
</tr>
{{pass}}
</table>

