{{extend 'layout2.html'}}

<!--
{{for region in region_list:}}

{{=region['area']}}

{{pass}}

{{for topic in topic_list:}}

{{=topic['title']}}

{{pass}}
 -->


<h2>{{=collection.title}}</h2>


<ul>
    <li>
        <a href="../view_collection_feed/{{=collection.id}}" target="_blank">Podcast</a>
    </li>
    <li>
        <a href="
http://maps.google.com/maps?f=q&source=s_q&geocode=&q={{=link_to_feed}}" target="_blank">View in Google Maps</a>
    </li>
    <li>
        <a href="layar://georssgateway?CHECKBOXLIST=1&SEARCHBOX={{=link_to_feed}}" target="_blank">View in Layar</a>
    </li>
    <li>
        <!-- a href="../view_collection_for_print.pdf/{{=collection.id}}" target="_blank">View as PDF</a -->
        <a href="http://pdfcrowd.com/url_to_pdf/">View as PDF</a>
    </li>
</ul>

  <div id="map" style="height:400px"> 
    <div id="map_canvas" style="width:100%; height:400px"></div> 
    <div id="crosshair"></div> 
  </div>


<div>

{{for story in story_list:}}

<div style="padding:10px;">

<h3>{{=story['title']}}</h3>

<h3>Description</h3>
<div>
{{=story['description']}}
</div>

<h3>Audio</h3>
<div>
<img src="{{=story['qrcode_url']}}"><br>
{{=story['audio_url']}}
</div>

<h3>Mapping Information</h3>
<div>

{{=story['latitude']}}<br />
{{=story['longitude']}}<br />
{{=story['address']}}<br />
</div>

</div>

{{pass}}

</div>

<!--
{{=BEAUTIFY(response._vars)}}
-->
