{{""" Use layout_embed.html to get at mapping_2.html (or perhaps mapping_embed.html if needed) which contains the necessary javascript """}}

{{extend 'layout_embed.html'}}

<div>
    <h2>{{=collection.title}}</h2>

    <div id="map" style="height:400px"> 
        <div id="map_canvas" style="width:100%; height:400px"></div> 
        <div id="crosshair"></div> 
    </div>

    <div>
        <ul>
            <li>
                <a href="../view_collection_feed/{{=collection.id}}" target="_blank">Podcast</a>
            </li>
            <li>
                <a href="http://maps.google.com/maps?f=q&source=s_q&geocode=&q={{=link_to_feed}}" target="_blank">View in Google Maps</a>
            </li>
            <li>
                <a href="../view_collection_gpx/{{=collection.id}}" target="_blank">Download GPX File</a>
            </li>
        </ul>
    </div>
</div>