{{""" Use layout2.html to get at mapping2.html which contains the necessary javascript """}}

{{extend 'layout2.html'}}

<!--
{{for region in region_list:}}

{{=region['area']}}

{{pass}}

{{for topic in topic_list:}}

{{=topic['title']}}

{{pass}}
 -->


<h2>{{=collection.title}}</h2>


<ul>
    <li>
        <a href="../view_collection_feed/{{=collection.id}}" target="_blank">Podcast</a>
    </li>
    <li>
        <a href="
http://maps.google.com/maps?f=q&source=s_q&geocode=&q={{=link_to_feed}}" target="_blank">View in Google Maps</a>
    </li>
    <li>
        <a href="layar://georssgateway?CHECKBOXLIST=1&SEARCHBOX={{=link_to_feed}}" target="_blank">View in Layar</a>
    </li>
    <!-- li>
        <a href="../view_collection_gpx/{{=collection.id}}" target="_blank">Download GPX File</a>
    </li -->
    <li>
        <!-- a href="../view_collection_for_print.pdf/{{=collection.id}}" target="_blank">View as PDF</a -->
        <a href="http://pdfcrowd.com/url_to_pdf/">View as PDF</a>
    </li>
</ul>

  <div id="map" style="height:400px"> 
    <div id="map_canvas" style="width:100%; height:400px"></div> 
    <div id="crosshair"></div> 
  </div>

<h2>Embed Code</h2>

<textarea cols=120 rows=8>
<iframe src ="http://publicradioroadtrip.appspot.com/publicradioroadtrip/default/view_collection_embed/{{=collection.id}}" height="400px" width="100%" scrolling="No" frameborder="0"></iframe>
</textarea>

<div>

{{for story in story_list:}}

<div style="padding:10px;">

<h2>{{=story['title']}}</h2>

<h3>Description</h3>
<div>
{{=story['description']}}
</div>

<h3>Audio</h3>
<h4>Scan for Audio</h4>
<div>
<script type="text/javascript">
document.write('<img src=\"http://chart.apis.google.com/chart?chs=400x400&cht=qr&chl={{=story['audio_url']}}\">');
</script>
<h4>Dowload</h4>
<ul>
    <li>
        <a href="{{=story['audio_url']}}" target="_blank">Download Audio</a>
    </li>
</ul>
</div>

<h3>Location</h3>
<div>

Latitude: {{=story['latitude']}}<br />
Longitude: {{=story['longitude']}}<br />
Address: {{=story['address']}}<br />
</div>

</div>

{{pass}}

</div>

<!--
{{=BEAUTIFY(response._vars)}}
-->
